<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=PT+Mono|PT+Serif|Quicksand:700" rel="stylesheet">
  <link href="index.css" rel="stylesheet">
  <title>Luna Huna</title>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<header>
  <a href="/">
    <img src='tiki.png' alt='Tiki logo'/>
    <div>
      <h1>Luna Huna</h1>
      <p>Social. Secret.</p>
    </div>
  </a>
</header>
<p>Coming Soon.</p>
</body>
</html>
